.SvgPage-1{
  border-radius: 50%;
  background-color: #acd5f3;
}
.Preview1Text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #e8e8e8;
  padding: 10px;
}